##############################
## Folders                  ##
##############################
target
 
##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml
.settings
.project
.classpath